@use '@/styles/config/variables' as *;
@use '@/styles/config/mixins' as *;

.experienceSection {
  .expItem,
  .eduItem {
    padding: rem(0, 0, 40, 20);
    margin: rem(0, 0, 0, 12);
    border-left: rem(2) solid var(--secondary-color);
    position: relative;

    a[role="button"] {
      box-shadow: 0 rem(8) rem(16) 0 rgba(0, 0, 0, 0.16);
      @include transition();

      &:hover {
        box-shadow: 0 rem(8) rem(32) 0 rgba(0, 0, 0, 0.2);
      }
    }

    @include respond-above($breakpoint-md) {
      margin-left: 0;
    }

    &::before {
      @include position-absolute((content: '""', width: rem(20), height: rem(20), border-radius: 50%, left: rem(-11), top: 0, background: #fff, border: rem(3) solid var(--secondary-color)));
    }

    li {
      list-style: disc;
    }
  }

  .eduItem {
    margin-bottom: 0;
  }

  .expYear {
    color: var(--primary-light-color);
  }

  h4 {
    color: var(--primary-sub-color);
  }

  .expInstitute {
    font-style: italic;
  }

  .seeMoreBtn {
    margin-left: auto;
    display: flex;
    width: fit-content;
  }

  #certificate {
    .expInstitute {
      margin-bottom: rem(16);
    }
  }
}
