@use 'bootstrap'; // Import Bootstrap styles

@use 'base/reset';
@use 'config/variables' as *;
@use 'config/mixins' as *;
@use 'components';
@use 'tailwindcss';

/* --------------------
    General
-------------------- */
/* root */
:root {
	--primary-color: #2c3e50;
	--primary-light-color: #2c3e5098;
	--primary-sub-color: #345676;
	--secondary-color: #62efcd;
	--overlay: #415162;
	--white: #fff;
	--black: #000;
	--shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);

/* Components */
.container {
	display: flex;
	flex-direction: column;
	gap: 3rem;
}

.section-bg {
	background: linear-gradient(180deg, #f2f6f9 0%, #fff 100%);
	padding: 6rem 0;

	h2 {
		font-family: 'Gelasio', serif;
		color: var(--primary-sub-color);
		position: relative;
		text-shadow: 1.5px 0 3.5px var(--primary-light-color);

		&::after {
			content: '';
			position: absolute;
			display: block;
			width: 80px;
			height: 7px;
			background: var(--secondary-color);
			bottom: -5px;
			left: 0;
			border-radius: 5px;
		}
	}

	h3 {
		font-family: 'Quicksand', sans-serif;
		color: var(--secondary-color);
		font-weight: 700;
	}
}

/* Button */
.btn-primary {
	background-color: var(--black);
	border-color: var(--black);

	&:hover {
		background-color: var(--black);
		border-color: var(--black);
	}
}

.section-shadow {
	box-shadow: 0 15px 8px -10px rgba(0, 0, 0, 0.3);
}

.bg-image {
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-position: center center;
}

/* Tablet, Desktop */
@media (max-width: 576px) {
	.bg-image {
		background-attachment: scroll;
	}
}

/* Paralax Image Effect */
.paralax-overlay {
	background-color: var(--overlay);
	position: absolute;
	top: 0;
	left: 0px;
	padding: 0;
	height: 100%;
	width: 100%;
	opacity: 0.6;
}

.paralax {
	position: relative;
	padding: rem(128) 0;
}

/* back-to-top button */
.back-to-top {
	visibility: hidden;
	opacity: 0;
	position: fixed;
	width: 40px;
	height: 40px;
	background-color: var(--secondary-color);
	color: var(--white);
	box-shadow: $shadow-base;
	border-radius: 50%;
	bottom: 10px;
	right: 20px;
	cursor: pointer;
	text-align: center;
	line-height: 40px;

	&:hover {
		color: var(--primary-color);
	}

	&.active {
		visibility: visible;
		opacity: 1;
	}
}

/* Subtle Animation */
.subtle-anim {
	&:hover {
		box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.2);
		transition: all 0.3s ease-out;
		transform: translateY(-3px);
	}

	/* Add a transition for when you move out of hover */
	&:not(:hover) {
		transition: 0.3s ease-in-out;
	}
}

/* --------------------
    Navbar Section
-------------------- */
#navbar {
	.navbar-brand,
	.nav-link {
		cursor: pointer;
	}

	.active-section {
		color: var(--secondary-color);
	}

	.navbar-dropdown-menu {
		visibility: visible;

		/* Mobile */
		@media (max-width: 576px) {
			&.collapse {
				visibility: collapse;
			}

			&.show {
				visibility: visible;
			}
		}

	}
}

	/* Desktop */
	@media (min-width: 768px) {
		.showcase {
			display: flex;
			flex-direction: row;
			gap: 0;
		}
	}

	.filters-section {
		position: relative;
		transition: 0.3s;

		&.show-filters {
			margin-bottom: 3rem;
		}

		.portfolio-filters {
			/* margin: 0 auto 10px auto; */
			list-style: none;
			text-align: center;
			background: #fff;
			border-radius: 50px;
			padding: 2px 15px;
			box-shadow: $shadow-base;

			li {
				cursor: pointer;
				display: inline-block;
				padding: 10px 15px 8px 15px;
				font-size: 0.85rem;
				font-weight: 600;
				line-height: rem(16);
				text-transform: uppercase;
				color: var(--primary-color);
				margin-bottom: 5px;
				transition: all 0.3s ease-in-out;
				min-width: 70px;

				&:hover,
				&.filter-active {
					color: var(--secondary-color);
				}
			}
		}

		.primary-filters {
			z-index: 4;
		}

		.secondary-filters {
			z-index: 3;
			position: absolute;
			transition: all 0.3s ease-in-out;
			top: 40px;
			visibility: hidden;
			opacity: 0;

			&.active-filters {
				visibility: visible;
				opacity: 1;
				top: 80px;
			}
		}

		.filters-more {
			position: relative;
			font-size: rem(16);
			width: rem(28);
			height: rem(28);
			background-color: var(--secondary-color);
			color: var(--white);
			box-shadow: $shadow-base;
			border-radius: 50%;
			top: -25px;
			cursor: pointer;
			text-align: center;
			line-height: rem(28);
			transition: 0.5s;
			z-index: 5;

			&:hover {
				color: var(--primary-color);
			}

			&.filp {
				transform: rotateX(180deg);
			}
		}
	}

	.portfolio-container {
		opacity: 1;
	}

	/* Portfolio Container */
	.portfolio-item {
		margin: rem(16) 0px;

		.portfolio-wrap {
			position: relative;

			&::before {
				content: '';
				position: absolute;
				background-color: var(--primary-sub-color);
				z-index: 2;
				left: rem(40);
				right: rem(40);
				top: rem(40);
				bottom: rem(40);
				transition: all ease-in-out 0.3s;
				visibility: hidden;
				opacity: 0;
			}

			&:hover {
				&::before {
					opacity: 0.6;
					visibility: visible;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
				}

				.portfolio-info {
					opacity: 1;
					visibility: visible;
				}
			}

			.portfolio-info {
				display: flex;
				flex-direction: column;
				flex-wrap: wrap;
				gap: rem(8);
				position: absolute;
				top: 0;
				left: 0;
				z-index: 3;
				padding: rem(32) rem(16) rem(16);
				color: var(--white);
				transition: all ease-in-out 0.3s;
				visibility: hidden;
				opacity: 0;
				font-size: rem(16);

				.tech-tag {
					display: flex;
					justify-content: center;
					flex-wrap: wrap;
					gap: rem(4);

					button {
						padding: rem(3) rem(6);
						font-size: rem(12);
						border-radius: rem(3);
					}
				}

				a {
					font-size: rem(24);
					font-weight: bold;
					text-decoration: none;
					color: var(--white);
					cursor: pointer;

					&:hover {
						color: var(--secondary-color);
					}
				}

				p {
					text-align: center;
					margin-bottom: rem(8);
				}

				.portfolio-links {
					a {
						font-size: rem(2);
						margin-top: rem(8);
					}
				}
			}
		}
	}

	/* Tablet */
	@media (max-width: 768px) {
		.filters-section.show-filters {
			margin-bottom: rem(96);
		}

		.portfolio-info {
			display: none;
			left: calc(50% - rem(230));
		}
	}

	/* Mobile */
	@media (max-width: 425px) {
		.portfolio-filters li {
			min-width: unset;
		}

		.filters-section.show-filters {
			margin-bottom: rem(128);
		}

		.portfolio-info {
			display: none;
			left: 0;
			font-size: rem(14);
			top: calc(50% - rem(80));
		}
	}
}

/* --------------------
    Resume Section
-------------------- */
#resume {
	background-image: url(/img/resume-bg.jpg);
	background-position: right 85% center;
	padding: rem(128) 0;
	color: #fff;
}
