@use 'mixins' as *;
@import "tailwindcss";

/* --------------------
    General
-------------------- */
/* root */
:root {
	--primary-color: #2c3e50;
	--primary-light-color: #2c3e5098;
	--primary-sub-color: #345676;
	--secondary-color: #62efcd;
	--overlay: #415162;
	--white: #fff;
	--black: #000;
	--shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
}

/* Typography */
body {
	font-family: 'Open Sans',
		sans-serif;
}

/* Components */

.container {
	display: flex;
	flex-direction: column;
	gap: 3rem;
}

.section-bg {
	background: linear-gradient(180deg, #f2f6f9 0%, #fff 100%);
	padding: 6rem 0;

	h2 {
		font-family: 'Gelasio', serif;
		color: var(--primary-sub-color);
		position: relative;
		text-shadow: 1.5px 0 3.5px var(--primary-light-color);

		&::after {
			content: '';
			position: absolute;
			display: block;
			width: 80px;
			height: 7px;
			background: var(--secondary-color);
			bottom: -5px;
			left: 0;
			border-radius: 5px;
		}
	}

	h3 {
		font-family: 'Quicksand', sans-serif;
		color: var(--secondary-color);
		font-weight: 700;
	}
}

/* Button */
.btn-primary {
	background-color: var(--black);
	border-color: var(--black);

	&:hover {
		background-color: var(--black);
		border-color: var(--black);
	}
}

.section-shadow {
	box-shadow: 0 15px 8px -10px rgba(0, 0, 0, 0.3);
}

.bg-image {
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-position: center center;
}

/* Tablet, Desktop */
@media (max-width: 576px) {
	.bg-image {
		background-attachment: scroll;
	}
}

/* Paralax Image Effect */
.paralax-overlay {
	background-color: var(--overlay);
	position: absolute;
	top: 0;
	left: 0px;
	padding: 0;
	height: 100%;
	width: 100%;
	opacity: 0.6;
}

.paralax {
	position: relative;
	padding: rem(128) 0;
}

/* back-to-top button */
.back-to-top {
	visibility: hidden;
	opacity: 0;
	position: fixed;
	width: 40px;
	height: 40px;
	background-color: var(--secondary-color);
	color: var(--white);
	box-shadow: var(--shadow);
	border-radius: 50%;
	bottom: 10px;
	right: 20px;
	cursor: pointer;
	text-align: center;
	line-height: 40px;

	&:hover {
		color: var(--primary-color);
	}

	&.active {
		visibility: visible;
		opacity: 1;
	}
}

/* Subtle Animation */
.subtle-anim {
	&:hover {
		box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.2);
		transition: all 0.3s ease-out;
		transform: translateY(-3px);
	}

	/* Add a transition for when you move out of hover */
	&:not(:hover) {
		transition: 0.3s ease-in-out;
	}
}

/* --------------------
	Hero Section
-------------------- */
#hero {
	/* position: relative; */
	// background: url('/img/hero-bg.jpg');
	background: url('https://res.cloudinary.com/thasup/image/upload/v1740776548/stack%20connect/first-masked-banner_y8iozy.jpg');
	background-position: center;
	background-size: cover;
	width: 100%;
	height: 100vh;

	.hero-title-container {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: rem(16);
		margin-top: 30%;
		color: var(--white);
	}

	.hero-title {
		font-weight: 600;
		font-size: 4.5rem;
	}

	.hero-subtitle {
		font-size: rem(24);
		font-weight: 600;
	}

	.btn-started {
		cursor: pointer;
		font-size: rem(48);
		transition: 0.5s;
		color: var(--white);
		height: rem(60);

		&:hover {
			padding-top: rem(10);
			color: var(--secondary-color);
		}
	}

	/* Mobile */
	@media (max-width: 576px) {
		background: url('https://res.cloudinary.com/thasup/image/upload/v1742208855/stack%20connect/mobile-first-banner_qhnobr.jpg');
		background-position: center;
		background-size: cover;
		width: 100%;
		height: 100vh;

		.hero-title-container {
			margin-top: 60%;
		}

		.hero-title {
			font-size: rem(44);
		}

		.hero-subtitle {
			font-size: rem(24);
		}
	}
}

/* --------------------
    Navbar Section
-------------------- */
#navbar {
	.navbar-brand,
	.nav-link {
		cursor: pointer;
	}

	.active-section {
		color: var(--secondary-color);
	}

	.navbar-dropdown-menu {
		visibility: visible;

		/* Mobile */
		@media (max-width: 576px) {
			&.collapse {
				visibility: collapse;
			}

			&.show {
				visibility: visible;
			}
		}

	}
}

/* --------------------
    About Section
-------------------- */
#about {
	.profile-image > span {
		border-radius: rem(8);
		box-shadow: 0 rem(8) rem(16) 0 rgb(0 0 0 / 16%);

		&:hover {
			box-shadow: 0 rem(8) rem(32) 0 rgba(0, 0, 0, 0.2);
			transition: all 0.3s ease-out;
			transform: translateY(-rem(3));
		}

		/* Add a transition for when you move out of hover */
		&:not(:hover) {
			transition: 0.3s ease-in-out;
		}
	}
}

/* --------------------
    Skills Section
-------------------- */
#skills {
	.skill-list {
		list-style: none;

		li {
			margin: rem(24) 0;

			.skill-icon {
				display: flex;
				flex-wrap: wrap;
				gap: rem(8);
				margin-top: rem(8);
			}
		}
	}

	.skill-tag {
		list-style: none;
		padding-left: 0;
		margin: rem(8) 0;

		li {
			cursor: pointer;
			display: block;
			position: relative;
			color: var(--white);
			background-color: var(--primary-sub-color);
			font-size: rem(14);
			padding: rem(2) rem(12);
			margin: rem(8) rem(1) rem(8) 0;
			border-radius: rem(5);
			transition: 0.3s;

			&:hover {
				font-weight: 600;
				box-shadow: 0 rem(4) rem(2) -rem(3) #ccc, 0 rem(4) rem(5) rem(1) #ccc, 0 rem(2) rem(7) rem(1) #ccc;
			}
		}
	}

	.line-break {
		border-bottom: solid rem(1) var(--primary-color);
	}
}

/* Mobile, Tablet */
@media (max-width: 768px) {
	#skills .skill-tag li {
		margin: rem(8) rem(16) rem(8) 0;
	}
}

/* --------------------
	Experience Section
-------------------- */
#experience {
	.exp-item,
	.edu-item {
		padding: rem(0) rem(0) rem(28) rem(20);
		margin: rem(0) rem(0) rem(0) rem(12);
		border-left: rem(2) solid var(--secondary-color);
		position: relative;

		&.--last-item {
			padding-bottom: 0;
		}

		a[role="button"] {
			box-shadow: 0 rem(8) rem(16) 0 rgba(0, 0, 0, 0.16);

			&:hover {
				box-shadow: 0 rem(8) rem(32) 0 rgba(0, 0, 0, 0.2);
			}
		}

		/* Desktop */
		@media (min-width: 768px) {
			margin-left: 0;
		}

		&::before {
			position: absolute;
			content: "";
			width: 20px;
			height: 20px;
			border-radius: 50%;
			left: -11px;
			top: 0;
			background: #fff;
			border: 3px solid var(--secondary-color);
		}

		li {
			list-style: disc;
		}
	}

	.edu-item {
		margin-bottom: 0;
	}

	.exp-year {
		color: var(--primary-light-color);
	}

	h4 {
		font-family: "Gelasio", serif;
		color: var(--primary-sub-color);
	}

	.exp-institute {
		font-style: italic;
	}

	#certificate {
		.exp-institute {
			margin-bottom: rem(16);
		}
	}

	.see-more-btn {
		margin-left: auto;
		display: flex;
		width: fit-content;
	}
}

/* --------------------
	Portfolio Section
-------------------- */
#portfolio {
	.showcase {
		display: flex;
		flex-direction: column;
		gap: rem(32);

		.showcase-img>span {
			display: block;
			border: 1px solid #e8eef7;
			border-radius: 8px;
			margin: -76px auto 0;
			z-index: 1;
			position: relative;
			background-color: #fff;
			box-shadow: 0 8px 16px 0 rgb(0 0 0 / 16%);

			&:hover {
				box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.2);
				transition: all 0.3s ease-out;
				transform: translateY(-3px);
			}

			/* Add a transition for when you move out of hover */
			&:not(:hover) {
				transition: 0.3s ease-in-out;
			}
		}

		.desc-container {
			gap: rem(8);

			p {
				margin-bottom: 0;
			}
		}

		.tech-tag {
			display: flex;
			flex-wrap: wrap;
			gap: rem(4);

			.btn-xsm {
				padding: rem(3) rem(6);
				font-size: rem(12);
				border-radius: rem(3);
			}
		}

		.showcase-info {
			gap: rem(16);

			h5 {
				font-style: italic;
			}
		}

		.showcase-link {
			a {
				box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.16);
				transition: box-shadow 0.3s ease, transform 0.3s ease;

				&:hover {
					box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.2);
					transform: scale(1.01);
				}
			}
		}
	}

	/* Desktop */
	@media (min-width: 768px) {
		.showcase {
			display: flex;
			flex-direction: row;
			gap: 0;
		}
	}

	.filters-section {
		position: relative;
		transition: 0.3s;

		&.show-filters {
			margin-bottom: 3rem;
		}

		.portfolio-filters {
			/* margin: 0 auto 10px auto; */
			list-style: none;
			text-align: center;
			background: #fff;
			border-radius: 50px;
			padding: 2px 15px;
			box-shadow: var(--shadow);

			li {
				cursor: pointer;
				display: inline-block;
				padding: 10px 15px 8px 15px;
				font-size: 0.85rem;
				font-weight: 600;
				line-height: rem(16);
				text-transform: uppercase;
				color: var(--primary-color);
				margin-bottom: 5px;
				transition: all 0.3s ease-in-out;
				min-width: 70px;

				&:hover,
				&.filter-active {
					color: var(--secondary-color);
				}
			}
		}

		.primary-filters {
			z-index: 4;
		}

		.secondary-filters {
			z-index: 3;
			position: absolute;
			transition: all 0.3s ease-in-out;
			top: 40px;
			visibility: hidden;
			opacity: 0;

			&.active-filters {
				visibility: visible;
				opacity: 1;
				top: 80px;
			}
		}

		.filters-more {
			position: relative;
			font-size: rem(16);
			width: rem(28);
			height: rem(28);
			background-color: var(--secondary-color);
			color: var(--white);
			box-shadow: var(--shadow);
			border-radius: 50%;
			top: -25px;
			cursor: pointer;
			text-align: center;
			line-height: rem(28);
			transition: 0.5s;
			z-index: 5;

			&:hover {
				color: var(--primary-color);
			}

			&.filp {
				transform: rotateX(180deg);
			}
		}
	}

	.portfolio-container {
		opacity: 1;
	}

	/* Portfolio Container */
	.portfolio-item {
		margin: rem(16) 0px;

		.portfolio-wrap {
			position: relative;

			&::before {
				content: '';
				position: absolute;
				background-color: var(--primary-sub-color);
				z-index: 2;
				left: rem(40);
				right: rem(40);
				top: rem(40);
				bottom: rem(40);
				transition: all ease-in-out 0.3s;
				visibility: hidden;
				opacity: 0;
			}

			&:hover {
				&::before {
					opacity: 0.6;
					visibility: visible;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
				}

				.portfolio-info {
					opacity: 1;
					visibility: visible;
				}
			}

			.portfolio-info {
				display: flex;
				flex-direction: column;
				flex-wrap: wrap;
				gap: rem(8);
				position: absolute;
				top: 0;
				left: 0;
				z-index: 3;
				padding: rem(32) rem(16) rem(16);
				color: var(--white);
				transition: all ease-in-out 0.3s;
				visibility: hidden;
				opacity: 0;
				font-size: rem(16);

				.tech-tag {
					display: flex;
					justify-content: center;
					flex-wrap: wrap;
					gap: rem(4);

					button {
						padding: rem(3) rem(6);
						font-size: rem(12);
						border-radius: rem(3);
					}
				}

				a {
					font-size: rem(24);
					font-weight: bold;
					text-decoration: none;
					color: var(--white);
					cursor: pointer;

					&:hover {
						color: var(--secondary-color);
					}
				}

				p {
					text-align: center;
					margin-bottom: rem(8);
				}

				.portfolio-links {
					a {
						font-size: rem(2);
						margin-top: rem(8);
					}
				}
			}
		}
	}

	/* Tablet */
	@media (max-width: 768px) {
		.filters-section.show-filters {
			margin-bottom: rem(96);
		}

		.portfolio-info {
			display: none;
			left: calc(50% - rem(230));
		}
	}

	/* Mobile */
	@media (max-width: 425px) {
		.portfolio-filters li {
			min-width: unset;
		}

		.filters-section.show-filters {
			margin-bottom: rem(128);
		}

		.portfolio-info {
			display: none;
			left: 0;
			font-size: rem(14);
			top: calc(50% - rem(80));
		}
	}
}

/* --------------------
    Education Section
-------------------- */
#education {
	h4 {
		font-family: 'Gelasio', serif;
		color: var(--primary-sub-color);
	}

	.edu-institute {
		font-style: italic;
	}

	#certificate {
		#cert2 {
			img {
				height: rem(30);
				margin: rem(8) 0 rem(16);
			}
		}

		#cert3 {
			img {
				height: rem(40);
				margin: rem(8) 0 rem(16);
			}
		}

		.edu-year {
			color: var(--primary-light-color);
		}

		.edu-institute {
			margin-bottom: rem(16);
		}
	}
}

/* --------------------
    Resume Section
-------------------- */
#resume {
	background-image: url(/img/resume-bg.jpg);
	background-position: right 85% center;
	padding: rem(128) 0;
	color: #fff;
}

/* --------------------
    Contact Section
-------------------- */
#contact {
	.contact-info {
		i {
			font-size: rem(32);
		}
	}

	.social-links {
		padding-bottom: rem(20);

		a {
			font-size: rem(24);
			display: inline-block;
			background: #fff;
			color: var(--primary-color);
			line-height: 0;
			padding: rem(12) 0;
			margin-right: rem(4);
			border-radius: 50%;
			text-align: center;
			width: rem(48);
			height: rem(48);
			transition: 0.3s;
			border: rem(1) solid var(--primary-color);

			&:hover {
				background: var(--secondary-color);
				border: rem(1) solid var(--secondary-color);
				color: #fff;
			}
		}
	}

	.col-form-label {
		font-size: rem(20);
		font-weight: bold;
		padding-top: 0;
	}
}

/* --------------------
    Footer Section
-------------------- */
footer {
	color: #fff;
	padding: rem(16) 0;

	div {
		margin: rem(16) 0;

		p {
			margin: 0;

			&:first-child {
				margin-bottom: rem(16);
			}
		}
	}

	.footer-link {
		font-weight: 700;
		text-transform: uppercase;
		text-decoration: none;
		cursor: pointer;
	}
}